<!doctype html>
<html lang="en">
<head>
	<title>Feedback List</title>
</head>
<body>
<table border='1px' align='center' cellpadding='10px' cellspacing='0px' >
<tr>
	<th> Username </TH>
	<TH> Date </TH>
	<TH cellpadding='50px' height='30px'> REVIEW</TH>
	<TH COLSPAN="2">ACTION</TH>
</TR>
{% for c in feedbacks %}<!-- for loop-->
<tr>
	<td>{{c.username_id}}</td>
	<td>{{c.created_date}}</td>
	<td>{{c.text}}</td>
	<td><a href="/edit/{{c.id}}"> Edit</a></td>
	<td><a href="/delete/{{c.id}}">Delete</a></td>
{% endfor %}<!--end of loop-->
</tr>
</table>
</body>
</html>